<%!
    from helpers.template import convert_html, list_of_temp_sensors_of_brick, list_of_humid_sensors_of_brick, grafana_url_bat_level, list_of_latches_of_brick, time_ago_str, list_of_signals_of_brick, has_disabled_sensors, server_is
    from helpers.firmware import firmware_name, firmware_version, firmware_state, firmware_bin_present, firmware_is_updating
    from helpers.config import config
    from helpers.brickserver import firmware_get
    import time
    from datetime import datetime
    import os
    import cherrypy
%>
        <div class="tile is-2 is-parent">
            <div class="tile is-child">
                % if 'sleep' in brick['features'] or server_is('0.7.0'):
                <div class="container box">
					<p class="subtitle is-5">
                        Autoreload
                    </p>
					<p class="title is-2" id="autoreload-in">
                        % if firmware_is_updating(brick):
                        10s
                        % elif ((brick['last_ts'] + (brick['delay'] if 'delay' in brick else brick['sleep_delay']) + 5) - int(time.time())) >= 0:
                        ${(brick['last_ts'] + (brick['delay'] if 'delay' in brick else brick['sleep_delay']) + 5) - int(time.time())}s
                        % else:
                        disabled
                        % endif
                    </p>
                    <p class="subtitle is-5">
                        % if not firmware_is_updating(brick):
                        <progress class="progress" id="autoreload-progress" value="${(int(time.time()) - brick['last_ts'])}" max="${(brick['delay'] if 'delay' in brick else brick['sleep_delay']) + 5}"></progress>
                        % else:
                        <progress class="progress" id="autoreload-progress" value="0" max="10"></progress>
                        % endif
                    </p>
				</div>
                <script>
                    % if firmware_is_updating(brick):
                    autoreloadIntervalID = setInterval(function() {
                        var time_gone = $('#autoreload-progress').val() + 1;
                        var time_left = 10 - time_gone;
                        $('#autoreload-in').text(time_left + "s");
                        $('#autoreload-progress').val(time_gone);
                        if (time_left <= 0) {
                            clearInterval(autoreloadIntervalID);
                            reload_brick_detail();
                            $('#autoreload-in').text("disabled");
                        }
                    }, 1000);
                    % elif ((brick['last_ts'] + (brick['delay'] if 'delay' in brick else brick['sleep_delay']) + 5) - int(time.time())) >= 0:
                    autoreloadIntervalID = setInterval(function() {
                        var time_left = ${brick['last_ts'] + (brick['delay'] if 'delay' in brick else brick['sleep_delay']) + 5} - Math.floor(new Date / 1000);
                        $('#autoreload-in').text(time_left + "s");
                        $('#autoreload-progress').val(Math.floor(new Date / 1000) - ${brick['last_ts']});
                        if (time_left <= 0) {
                            clearInterval(autoreloadIntervalID);
                            reload_brick_detail();
                            $('#autoreload-in').text("disabled");
                        }
                    }, 1000);
                    % endif
                </script>
                % endif
                % if 'bat' in brick['features']:
                <div class="container box">
					<p class="subtitle is-5">
                        Battery
                        % if server_is('0.6.0') and not brick.get('bat_wall_powered', False):
                        % if brick['bat_solar_charging']:
                        <span class="icon is-small grafana-link-icon" id="brick-detail-bat-solar-charging-disable" title="Disable Solar Charging">
                            <i class="fas fa-sun fa-sm"></i>
                        </span>
                        % else:
                        <span class="icon is-small grafana-link-icon" id="brick-detail-bat-solar-charging-enable" title="Enable Solar Charging">
                            <i class="fas fa-bolt fa-sm"></i>
                        </span>
                        % endif
                        % endif
                        % if server_is('0.8.0') and brick['features']['bat'] >= 2:
                        <span class="icon is-small grafana-link-icon" id="brick-detail-bat-align-adv5v" title="Calibrate Voltage Readings">
                            <i class="fas fa-ruler-vertical fa-sm"></i>
                        </span>
                        % endif
                        % if config['grafana']['enabled']:
                        <span class="icon is-small grafana-link-icon" id="brick-detail-bat-level-grafana" title="Open corresponding Chart in Grafana">
                            <i class="fas fa-chart-line fa-sm"></i>
                        </span>
                        % endif
                    </p>
					<p class="title is-2">
                        ${round(brick['bat_last_reading'], 2)}V
                        % if brick['bat_charging']:
                        <span class="icon has-text-warning" title="charging">
                            % if server_is('0.6.0') and brick['bat_solar_charging']:
                            <i class="fas fa-sun fa-sm"></i>
                            % else:
                            <i class="fas fa-bolt fa-sm"></i>
                            % endif
                        </span>
                        % elif brick['bat_charging_standby']:
                        <span class="icon has-text-success" title="charging finished">
                            % if server_is('0.6.0') and brick['bat_solar_charging']:
                            <i class="fas fa-sun fa-sm"></i>
                            % else:
                            <i class="fas fa-bolt fa-sm"></i>
                            % endif
                        </span>
                        % elif brick['bat_last_reading'] <= 3.4:
                        <span class="icon is-large has-text-danger" title="battery-empty">
                            <i class="fas fa-battery-empty fa-sm"></i>
                        </span>
                        % elif brick['bat_last_reading'] < 3.58:
                        <span class="icon is-large has-text-warning" title="battery-quarter">
                            <i class="fas fa-battery-quarter fa-sm"></i>
                        </span>
                        % elif brick['bat_last_reading'] < 3.74:
                        <span class="icon is-large has-text-success" title="battery-half">
                            <i class="fas fa-battery-half fa-sm"></i>
                        </span>
                        % elif brick['bat_last_reading'] < 4.0:
                        <span class="icon is-large has-text-success" title="battery-three-quarters">
                            <i class="fas fa-battery-three-quarters fa-sm"></i>
                        </span>
                        % elif brick['bat_last_reading'] <= 4.3:
                        <span class="icon is-large has-text-success" title="battery-full">
                            <i class="fas fa-battery-full fa-sm"></i>
                        </span>
                        % else:
                        <span class="icon has-text-danger" title="wall power">
                            <i class="fas fa-bolt fa-sm"></i>
                        </span>
                        % endif
                    </p>
                    % if not brick.get('bat_wall_powered', False):
                    <p class="subtitle is-5">
                        <span class="icon" title="predicted to be empty">
                            <i class="fas fa-calendar-times fa-sm"></i>
                        </span>
                        ${f"{round(brick['bat_runtime_prediction'])} days" if brick['bat_runtime_prediction'] else 'unknown'}
                    </p>
                    % endif
				</div>
                <script>
                    $("#brick-detail-bat-level-grafana").click(function() {
                        window.open("${grafana_url_bat_level(brick)}", 'grafana');
                    });
                    $("#brick-detail-bat-solar-charging-disable").click(function() {
                        $.ajax( {
                            url:'set_solar_charging/?enable=false',
                            success:function(data) {
                                $('#brick-detail').html(data);
                            }
                        });
                    });
                    $("#brick-detail-bat-solar-charging-enable").click(function() {
                        $.ajax( {
                            url:'set_solar_charging/?enable=true',
                            success:function(data) {
                                $('#brick-detail').html(data);
                            }
                        });
                    });
                    $("#brick-detail-bat-align-adv5v").click(function() {
                        $.ajax( {
                            url:'bat_align_adc5v_dialog',
                            success:function(data) {
                                $("#sensor-detail-modal > .modal-content").html(data);
                                $("html").addClass("is-clipped");
                                $("#sensor-detail-modal").addClass("is-active");
                            }
                        });
                    });
                </script>
                % endif
                % if 'sleep' in brick['features']:
                <div class="container box">
					<p class="subtitle is-5">
                        Sleeping
                        % if server_is('0.7.0') and brick['features']['sleep'] >= 1.01:
                        % if brick['sleep_set_disabled']:
                        <span class="icon is-small success-icon" id="brick-detail-sleep-enable" title="Enable Sleeping">
                            <i class="fas fa-check fa-sm"></i>
                        </span>
                        % else:
                        <span class="icon is-small danger-icon" id="brick-detail-sleep-disable" title="Disable Sleeping">
                            <i class="fas fa-times-circle fa-sm"></i>
                        </span>
                        % endif
                        % endif
                    </p>
                    % if not brick['features']['sleep'] >= 1.01 or not server_is('0.7.0'):
                    <p class="title is-2">
                        enabled
                    </p>
                    % else:
                    <p class="title is-2${' has-text-warning' if not brick['sleep_disabled'] == brick['sleep_set_disabled'] else ''}">
                        %if brick['sleep_disabled']:
                        disabled
                        % else:
                        enabled
                        %endif
                    </p>
                    %endif
				</div>
                <script>
                    $("#brick-detail-sleep-enable").click(function() {
                        $.ajax( {
                            url:'set_sleep_disabled/?disabled=false',
                            success:function(data) {
                                $('#brick-detail').html(data);
                            }
                        });
                    });
                    $("#brick-detail-sleep-disable").click(function() {
                        $.ajax( {
                            url:'set_sleep_disabled/?disabled=true',
                            success:function(data) {
                                $('#brick-detail').html(data);
                            }
                        });
                    });
                </script>
                %endif
                % if server_is('0.8.0'):
                <div class="container box">
					<p class="subtitle is-5">
                        Firmware
                        % if brick['features']['os'] >= 1.01 and firmware_state(brick) in ['outdated', 'requested']:
                        <span class="icon is-small info-icon" id="firmware-compare" title="Show Firmware Differences">
                            <i class="fas fa-stream fa-sm"></i>
                        </span>
                        % elif firmware_state(brick) == 'up to date':
                        <span class="icon is-small info-icon" id="firmware-details" title="Show Firmware Details">
                            <i class="fas fa-bars fa-sm"></i>
                        </span>
                        % endif
                        % if brick['features']['os'] >= 1.01 and firmware_state(brick) == 'outdated' and firmware_bin_present(latest=brick.get('type')):
                        <span class="icon is-small success-icon" id="firmware-update-request" title="Request OTA Firmware Update">
                            <i class="fas fa-arrow-alt-circle-up fa-sm"></i>
                        </span>
                        % elif firmware_state(brick) == 'requested':
                        <span class="icon is-small danger-icon" id="firmware-update-cancel" title="Cancel OTA Firmware Update Request">
                            <i class="fas fa-times-circle fa-sm"></i>
                        </span>
                        % endif
                    </p>
					<p class="title is-3">
                        ${firmware_state(brick)}
                    </p>
                    <p class="subtitle is-5">
                        ${firmware_version(brick)}
                    </p>
				</div>
                <script>
                    % if brick['features']['os'] >= 1.01 and firmware_state(brick) in ['outdated', 'requested']:
                    $("#firmware-compare").click(function() {
                        $("html").addClass("is-clipped");
                        $("#sensor-detail-modal").addClass("is-active");
                        $.ajax( {
                            url:'firmware_compare/?fw1=${firmware_name(firmware_get(brick_type=brick["type"], sketchMD5=brick["sketchMD5"]))}&fw2=${firmware_name(firmware_get(latest=brick["type"]))}',
                            success:function(data) {
                                $("#sensor-detail-modal > .modal-content").html(data);
                            }
                        });
                    });
                    % elif firmware_state(brick) == 'up to date':
                    $("#firmware-details").click(function() {
                        $.ajax( {
                            url:'firmware_browser_detail?d=${firmware_version(brick)}',
                            success:function(data) {
                                $.ajax( {
                                    url:'firmware_browser',
                                    success:function(data) {
                                        $("#firmware-browser-modal > .modal-content").html(data);
                                        $("html").addClass("is-clipped");
                                        $("#firmware-browser-modal").addClass("is-active");
                                    }
                                });
                            }
                        });
                    });
                    % endif
                    % if brick['features']['os'] >= 1.01 and firmware_state(brick) == 'outdated':
                    $("#firmware-update-request").click(function() {
                        $.ajax( {
                            url:'firmware_update/?request=true',
                            success:function(data) {
                                $('#brick-detail').html(data);
                            }
                        });
                    });
                    % elif firmware_state(brick) == 'requested':
                    $("#firmware-update-cancel").click(function() {
                        $.ajax( {
                            url:'firmware_update/?request=false',
                            success:function(data) {
                                $('#brick-detail').html(data);
                            }
                        });
                    });
                    % endif
                </script>
                % endif
            </div>
        </div>
		<div class="tile is-3 is-parent">
            <div class="tile is-child">

                % if 'last_ts' in brick and brick['last_ts']:
                <div class="content box">
                    <p class="title is-6">
                        last_ts
                    </p>
                    <p>
                        ${datetime.fromtimestamp(int(brick['last_ts'])).strftime('%d.%m.%Y %H:%M:%S')}<br />
                        <span class="has-text-grey-light">(${time_ago_str(brick['last_ts'])} ago)</span>
                    </p>
                </div>
                % endif

                % if 'init_ts' in brick and brick['init_ts']:
                <div class="content box">
                    <p class="title is-6">
                        init_ts
                    </p>
                    <p>
                        ${datetime.fromtimestamp(int(brick['init_ts'])).strftime('%d.%m.%Y %H:%M:%S')}<br />
                        <span class="has-text-grey-light">(${time_ago_str(brick['init_ts'])} ago)</span>
                    </p>
                </div>
                % endif

                % if 'bat' in brick['features'] and 'bat_last_ts' in brick and brick['bat_last_ts']:
                <div class="content box">
                    <p class="title is-6">
                        bat_last_ts
                    </p>
                    <p>
                        ${datetime.fromtimestamp(int(brick['bat_last_ts'])).strftime('%d.%m.%Y %H:%M:%S')}<br />
                        <span class="has-text-grey-light">(${time_ago_str(brick['bat_last_ts'])} ago)</span>
                    </p>
                </div>
                % endif

                 % if 'bat' in brick['features'] and 'bat_init_ts' in brick and brick['bat_init_ts']:
                <div class="content box">
                    <p class="title is-6">
                        bat_init_ts
                    </p>
                    <p>
                        ${datetime.fromtimestamp(int(brick['bat_init_ts'])).strftime('%d.%m.%Y %H:%M:%S')}<br />
                        <span class="has-text-grey-light">(${time_ago_str(brick['bat_init_ts'])} ago)</span>
                    </p>
                </div>
                % endif

                % if os.path.isfile('static/images/bricktype/' + str(brick['type']) + '.jpg'):
                <div class="content box">
                    <a class="modal-button" data-target="#bricktype-image-modal">
                        <img src="/static/images/bricktype/${brick['type']}.jpg" />
                    </a>
                </div>
                % endif

            </div>
        </div>
        <div class="tile is-5 is-parent">
			<div class="tile is-child">
				<div class="content box">
                    <p class="title is-6">
                        RAW Data
                    </p>
					<p class="is-family-monospace">
                        ${convert_html(brick)}
                    </p>
				</div>
			</div>
		</div>
		<div class="tile is-2 is-parent">
			<div class="tile is-child">
                % if has_disabled_sensors(brick):
                <a class="container box disables_switch" href="toggle_show_disabled">
					<p class="title is-6 has-text-${'success' if cherrypy.session['show_disabled'] else 'danger'}">
                        show disabled sensors
                    </p>
				</a>
                % endif
                
                % for sensor in list_of_temp_sensors_of_brick(brick):
                % if 'ui' not in sensor['disables'] or cherrypy.session['show_disabled']:
				<a class="container box temp_sensor${' has-background-grey-lighter' if 'ui' in sensor['disables'] else ''}" data-target="${sensor['_id']}">
					<p class="subtitle is-5">
                        ${sensor['_id']}
                    </p>
					<p class="title is-2">
                        % if sensor['last_reading'] is None or sensor['prev_reading'] is None or sensor['last_reading'] == sensor['prev_reading']:
                        <span class="icon is-small has-text-success">
                            <i class="fas fa-arrow-left fa-sm"></i>
                        </span>
                        % elif sensor['last_reading'] > sensor['prev_reading']:
                        <span class="icon is-small has-text-danger">
                            <i class="fas fa-arrow-up fa-sm"></i>
                        </span>
                        % else:
                        <span class="icon is-small has-text-info">
                            <i class="fas fa-arrow-down fa-sm"></i>
                        </span>
                        % endif
                        ${round(sensor['last_reading'], 1)}°C
                    </p>
                    <p class="subtitle is-6">
                        ${sensor['desc']}
                    </p>
				</a>
                % endif
                % endfor

                % for sensor in list_of_humid_sensors_of_brick(brick):
                % if 'ui' not in sensor['disables'] or cherrypy.session['show_disabled']:
				<a class="container box humid_sensor${' has-background-grey-lighter' if 'ui' in sensor['disables'] else ''}" data-target="${sensor['_id']}">
					<p class="subtitle is-5">
                        ${sensor['_id']}
                    </p>
					<p class="title is-2">
                        % if sensor['last_reading'] is None or sensor['prev_reading'] is None or sensor['last_reading'] == sensor['prev_reading']:
                        <span class="icon is-small has-text-success">
                            <i class="fas fa-arrow-left fa-sm"></i>
                        </span>
                        % elif sensor['last_reading'] > sensor['prev_reading']:
                        <span class="icon is-small has-text-danger">
                            <i class="fas fa-arrow-up fa-sm"></i>
                        </span>
                        % else:
                        <span class="icon is-small has-text-info">
                            <i class="fas fa-arrow-down fa-sm"></i>
                        </span>
                        % endif
                        ${round(sensor['last_reading'], 1)}%
                    </p>
                    <p class="subtitle is-6">
                        ${sensor['desc']}
                    </p>
				</a>
                % endif
                % endfor

                % for latch in list_of_latches_of_brick(brick):
                % if 'ui' not in latch['disables'] or cherrypy.session['show_disabled']:
                <a class="container box latch${' has-background-grey-lighter' if 'ui' in latch['disables'] else ''}" data-target="${latch['_id']}">
                    <p class="subtitle is-5">
                        Latch:&nbsp;${latch['_id'].split('_')[1]}
                    </p>
                    <p class="title is-2">
                        ${latch['states_desc'][latch['last_state']]}
                    </p>
                    <p class="subtitle is-6">
                        ${latch['desc']}
                    </p>
                </a>
                % endif
                % endfor

                % for signal in list_of_signals_of_brick(brick):
                % if 'ui' not in signal['disables'] or cherrypy.session['show_disabled']:
                <a class="container box signal${' has-background-grey-lighter' if 'ui' in signal['disables'] else ''}" data-target="${signal['_id']}">
                    <p class="subtitle is-5">
                        Signal:&nbsp;${signal['_id'].split('_')[1]}
                    </p>
                    <p class="title is-2${' has-text-warning' if signal['state_transmitted_ts'] is None else ''}">
                        ${signal['states_desc'][signal['state']]}
                    </p>
                    <p class="subtitle is-6">
                        ${signal['desc']}
                    </p>
                </a>
                % endif
                % endfor
                
			</div>
		</div>
        <div class="modal" id="bricktype-image-modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <img src="/static/images/bricktype/${brick['type']}.jpg" />
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
        <script>
            $(".temp_sensor").click(function() {
                var target = $(this).data("target");
                $("html").addClass("is-clipped");
                $("#sensor-detail-modal").addClass("is-active");
                $.ajax( {
                    url:'get_temp_sensor_detail/?sensor_id=' + target,
                    success:function(data) {
                        $("#sensor-detail-modal > .modal-content").html(data);
                    }
                });
            });
            $(".humid_sensor").click(function() {
                var target = $(this).data("target");
                $("html").addClass("is-clipped");
                $("#sensor-detail-modal").addClass("is-active");
                $.ajax( {
                    url:'get_humid_sensor_detail/?sensor_id=' + target,
                    success:function(data) {
                        $("#sensor-detail-modal > .modal-content").html(data);
                    }
                });
            });
            $(".latch").click(function() {
                var target = $(this).data("target");
                $("html").addClass("is-clipped");
                $("#sensor-detail-modal").addClass("is-active");
                $.ajax( {
                    url:'get_latch_detail/?latch_id=' + target,
                    success:function(data) {
                        $("#sensor-detail-modal > .modal-content").html(data);
                    }
                });
            });
            $(".signal").click(function() {
                var target = $(this).data("target");
                $("html").addClass("is-clipped");
                $("#sensor-detail-modal").addClass("is-active");
                $.ajax( {
                    url:'get_signal_detail/?signal_id=' + target,
                    success:function(data) {
                        $("#sensor-detail-modal > .modal-content").html(data);
                    }
                });
            });
      </script>

