<%!
    from helpers.template import convert_html, list_of_temp_sensors_of_brick, grafana_url_bat_level, list_of_latches_of_brick, time_ago_str, list_of_signals_of_brick, has_disabled_sensors, server_is
    from helpers.shared import config
    import time
    from datetime import datetime
    import os
    import cherrypy
%>
        <div class="tile is-2 is-parent">
            <div class="tile is-child">
                % if 'sleep' in brick['features']:
                <div class="container box">
					<p class="subtitle is-5">
                        Autoreload
                        <span class="icon is-small cache-reload-icon" id="brick-detail-trigger-reload" title="reload Brick-Detail from Server">
                            <i class="fas fa-sync-alt fa-sm"></i>
                        </span>
                    </p>
					<p class="title is-2" id="autoreload-in">
                        % if ((brick['last_ts'] + brick['sleep_delay'] + 5) - int(time.time())) >= 0:
                        ${(brick['last_ts'] + brick['sleep_delay'] + 5) - int(time.time())}s
                        % else:
                        disabled
                        % endif
                    </p>
                    <p class="subtitle is-5">
                        <progress class="progress" id="autoreload-progress" value="${(int(time.time()) - brick['last_ts'])}" max="${brick['sleep_delay'] + 5}"></progress>
                    </p>
				</div>
                <script>
                    % if ((brick['last_ts'] + brick['sleep_delay'] + 5) - int(time.time())) >= 0:
                    var autoreloadIntervalID = setInterval(function() {
                        var time_left = ${brick['last_ts'] + brick['sleep_delay'] + 5} - Math.floor(new Date / 1000);
                        $('#autoreload-in').text(time_left + "s");
                        $('#autoreload-progress').val(Math.floor(new Date / 1000) - ${brick['last_ts']});
                        if (time_left <= 0) {
                            $("#brick-detail-trigger-reload").click();
                        }
                    }, 1000);
                    % endif
                    $("#brick-detail-trigger-reload").click(function() {
                        if (typeof autoreloadIntervalID !== 'undefined') {
                            clearInterval(autoreloadIntervalID);
                        }
                        $.ajax({url:'clear_cache/?partial=' + "${brick['_id']}"});
                        % if 'temp' in brick['features']:
                        % for sensor in brick['temp_sensors']:
                        $.ajax({url:'clear_cache/?partial=' + "${sensor}"});
                        % endfor
                        % endif
                        $.ajax( {
                            url:'get_brick_detail/?brick_id=' + "${brick['_id']}",
                            success:function(data) {
                                $('#brick-detail').html(data);
                            }
                        });
                    });
                </script>
                % endif
                % if 'bat' in brick['features']:
                <div class="container box">
					<p class="subtitle is-5">
                        Battery
                        % if server_is('0.6.0'):
                        % if brick['bat_solar_charging']:
                        <span class="icon is-small grafana-link-icon" id="brick-detail-bat-solar-charging-disable" title="Disable Solar Charging">
                            <i class="fas fa-bolt fa-sm"></i>
                        </span>
                        % else:
                        <span class="icon is-small grafana-link-icon" id="brick-detail-bat-solar-charging-enable" title="Enable Solar Charging">
                            <i class="fas fa-sun fa-sm"></i>
                        </span>
                        % endif
                        % endif
                        % if config['grafana']['enabled']:
                        <span class="icon is-small grafana-link-icon" id="brick-detail-bat-level-grafana" title="Open corresponding Chart in Grafana">
                            <i class="fas fa-chart-line fa-sm"></i>
                        </span>
                        % endif
                    </p>
					<p class="title is-2">
                        ${round(brick['bat_last_reading'], 2)}V
                        % if brick['bat_charging']:
                        <span class="icon has-text-warning" title="charging">
                            % if server_is('0.6.0') and brick['bat_solar_charging']:
                            <i class="fas fa-sun fa-sm"></i>
                            % else:
                            <i class="fas fa-bolt fa-sm"></i>
                            % endif
                        </span>
                        % elif brick['bat_charging_standby']:
                        <span class="icon has-text-success" title="charging finished">
                            % if server_is('0.6.0') and brick['bat_solar_charging']:
                            <i class="fas fa-sun fa-sm"></i>
                            % else:
                            <i class="fas fa-bolt fa-sm"></i>
                            % endif
                        </span>
                        % elif brick['bat_last_reading'] <= 3.4:
                        <span class="icon is-large has-text-danger" title="battery-empty">
                            <i class="fas fa-battery-empty fa-sm"></i>
                        </span>
                        % elif brick['bat_last_reading'] < 3.58:
                        <span class="icon is-large has-text-warning" title="battery-quarter">
                            <i class="fas fa-battery-quarter fa-sm"></i>
                        </span>
                        % elif brick['bat_last_reading'] < 3.74:
                        <span class="icon is-large has-text-success" title="battery-half">
                            <i class="fas fa-battery-half fa-sm"></i>
                        </span>
                        % elif brick['bat_last_reading'] < 4.0:
                        <span class="icon is-large has-text-success" title="battery-three-quarters">
                            <i class="fas fa-battery-three-quarters fa-sm"></i>
                        </span>
                        % elif brick['bat_last_reading'] <= 4.3:
                        <span class="icon is-large has-text-success" title="battery-full">
                            <i class="fas fa-battery-full fa-sm"></i>
                        </span>
                        % else:
                        <span class="icon has-text-danger" title="wall power">
                            <i class="fas fa-bolt fa-sm"></i>
                        </span>
                        % endif
                    </p>
                    <p class="subtitle is-5">
                        <span class="icon" title="predicted to be empty">
                            <i class="fas fa-calendar-times fa-sm"></i>
                        </span>
                        ${f"{round(brick['bat_runtime_prediction'])} days" if brick['bat_runtime_prediction'] else 'unknown'}
                    </p>
				</div>
                <script>
                    $("#brick-detail-bat-level-grafana").click(function() {
                        window.open("${grafana_url_bat_level(brick['_id'])}", 'grafana');
                    });
                    $("#brick-detail-bat-solar-charging-disable").click(function() {
                        $.ajax( {
                            url:'set_solar_charging/?enable=false',
                            success:function(data) {
                                $('#brick-detail').html(data);
                            }
                        });
                    });
                    $("#brick-detail-bat-solar-charging-enable").click(function() {
                        $.ajax( {
                            url:'set_solar_charging/?enable=true',
                            success:function(data) {
                                $('#brick-detail').html(data);
                            }
                        });
                    });
                </script>
                % endif
            </div>
        </div>
		<div class="tile is-3 is-parent">
            <div class="tile is-child">

                % if 'last_ts' in brick and brick['last_ts']:
                <div class="content box">
                    <p class="title is-6">
                        last_ts
                    </p>
                    <p>
                        ${datetime.fromtimestamp(int(brick['last_ts'])).strftime('%d.%m.%Y %H:%M:%S')}<br />
                        <span class="has-text-grey-light">(${time_ago_str(brick['last_ts'])} ago)</span>
                    </p>
                </div>
                % endif

                % if 'bat' in brick['features'] and 'bat_last_ts' in brick and brick['bat_last_ts']:
                <div class="content box">
                    <p class="title is-6">
                        bat_last_ts
                    </p>
                    <p>
                        ${datetime.fromtimestamp(int(brick['bat_last_ts'])).strftime('%d.%m.%Y %H:%M:%S')}<br />
                        <span class="has-text-grey-light">(${time_ago_str(brick['bat_last_ts'])} ago)</span>
                    </p>
                </div>
                % endif

                 % if 'bat' in brick['features'] and 'bat_init_ts' in brick and brick['bat_init_ts']:
                <div class="content box">
                    <p class="title is-6">
                        bat_init_ts
                    </p>
                    <p>
                        ${datetime.fromtimestamp(int(brick['bat_init_ts'])).strftime('%d.%m.%Y %H:%M:%S')}<br />
                        <span class="has-text-grey-light">(${time_ago_str(brick['bat_init_ts'])} ago)</span>
                    </p>
                </div>
                % endif

                % if os.path.isfile('static/images/bricktype/' + str(brick['type']) + '.jpg'):
                <div class="content box">
                    <a class="modal-button" data-target="#bricktype-image-modal">
                        <img src="/static/images/bricktype/${brick['type']}.jpg" />
                    </a>
                </div>
                % endif

            </div>
        </div>
        <div class="tile is-5 is-parent">
			<div class="tile is-child">
				<div class="content box">
                    <p class="title is-6">
                        RAW Data
                    </p>
					<p class="is-family-monospace">
                        ${convert_html(brick)}
                    </p>
				</div>
			</div>
		</div>
		<div class="tile is-2 is-parent">
			<div class="tile is-child">
                % if has_disabled_sensors(brick):
                <a class="container box disables_switch" href="toggle_show_disabled">
					<p class="title is-6 has-text-${'success' if cherrypy.session['show_disabled'] else 'danger'}">
                        show disabled sensors
                    </p>
				</a>
                % endif
                
                % for sensor in list_of_temp_sensors_of_brick(brick):
                % if 'ui' not in sensor['disables'] or cherrypy.session['show_disabled']:
				<a class="container box temp_sensor${' has-background-grey-lighter' if 'ui' in sensor['disables'] else ''}" data-target="${sensor['_id']}">
					<p class="subtitle is-5">
                        ${sensor['_id']}
                    </p>
					<p class="title is-2">
                        % if sensor['last_reading'] is None or sensor['prev_reading'] is None or sensor['last_reading'] == sensor['prev_reading']:
                        <span class="icon is-small has-text-success">
                            <i class="fas fa-arrow-left fa-sm"></i>
                        </span>
                        % elif sensor['last_reading'] > sensor['prev_reading']:
                        <span class="icon is-small has-text-danger">
                            <i class="fas fa-arrow-up fa-sm"></i>
                        </span>
                        % else:
                        <span class="icon is-small has-text-info">
                            <i class="fas fa-arrow-down fa-sm"></i>
                        </span>
                        % endif
                        ${round(sensor['last_reading'], 1)}°C
                    </p>
                    <p class="subtitle is-6">
                        ${sensor['desc']}
                    </p>
				</a>
                % endif
                % endfor

                % for latch in list_of_latches_of_brick(brick):
                % if 'ui' not in latch['disables'] or cherrypy.session['show_disabled']:
                <a class="container box latch${' has-background-grey-lighter' if 'ui' in latch['disables'] else ''}" data-target="${latch['_id']}">
                    <p class="subtitle is-5">
                        Latch:&nbsp;${latch['_id'].split('_')[1]}
                    </p>
                    <p class="title is-2">
                        ${latch['states_desc'][latch['last_state']]}
                    </p>
                    <p class="subtitle is-6">
                        ${latch['desc']}
                    </p>
                </a>
                % endif
                % endfor

                % for signal in list_of_signals_of_brick(brick):
                % if 'ui' not in signal['disables'] or cherrypy.session['show_disabled']:
                <a class="container box signal${' has-background-grey-lighter' if 'ui' in signal['disables'] else ''}" data-target="${signal['_id']}">
                    <p class="subtitle is-5">
                        Signal:&nbsp;${signal['_id'].split('_')[1]}
                    </p>
                    <p class="title is-2${' has-text-warning' if signal['state_transmitted_ts'] is None else ''}">
                        ${signal['states_desc'][signal['state']]}
                    </p>
                    <p class="subtitle is-6">
                        ${signal['desc']}
                    </p>
                </a>
                % endif
                % endfor
                
			</div>
		</div>
        <div class="modal" id="bricktype-image-modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <img src="/static/images/bricktype/${brick['type']}.jpg" />
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
        <script>
            $(".temp_sensor").click(function() {
                var target = $(this).data("target");
                $("html").addClass("is-clipped");
                $("#sensor-detail-modal").addClass("is-active");
                $.ajax( {
                    url:'get_temp_sensor_detail/?sensor_id=' + target,
                    success:function(data) {
                        $("#sensor-detail-modal > .modal-content").html(data);
                    }
                });
            });
            $(".latch").click(function() {
                var target = $(this).data("target");
                $("html").addClass("is-clipped");
                $("#sensor-detail-modal").addClass("is-active");
                $.ajax( {
                    url:'get_latch_detail/?latch_id=' + target,
                    success:function(data) {
                        $("#sensor-detail-modal > .modal-content").html(data);
                    }
                });
            });
            $(".signal").click(function() {
                var target = $(this).data("target");
                $("html").addClass("is-clipped");
                $("#sensor-detail-modal").addClass("is-active");
                $.ajax( {
                    url:'get_signal_detail/?signal_id=' + target,
                    success:function(data) {
                        $("#sensor-detail-modal > .modal-content").html(data);
                    }
                });
            });
      </script>

