<%!
    from helpers.template import server_is
%>
<%include file="header.html" />
  <section class="section">
    <div class="container">
      % if alert is not None:
      <div class="tile is-ancestor" id="alert-message">
        <div class="tile is-parent">
            <div class="tile is-child">
                <div class="notification is-${alert_level}">
                    <button class="delete" id="alert-message-close-btn"></button>
                    ${alert}
                </div>
            </div>
        </div>
      </div>
      <script>
        clearAlertMessageIntervalID = setInterval(function() {
            clearInterval(clearAlertMessageIntervalID);
            $("#alert-message").hide();
        }, 5000);
        $("#alert-message-close-btn").click(function() {
            clearInterval(clearAlertMessageIntervalID);
            $("#alert-message").hide();
        });
      </script>
      % endif
	  <div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child">
				<div class="container box">
					<p class="title is-1 has-text-centered">${brick['_id']} (${brick['desc'] if brick['desc'] is not None else ''})</p>
					<div class="is-divider m-1"></div>
                    <nav class="navbar" role="navigation" aria-label="main navigation">
                        <div class="navbar-brand">
                            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="navbar-menu m-0" id="main-menu">
                            <div class="navbar-start">
                                <div class="navbar-item">
                                    <a class="button server-info">
                                        Server Info
                                    </a>
                                </div>
                                <div class="navbar-item">
                                    <a class="button modal-button" data-target="#select-brick-modal">
                                        Select Brick
                                    </a>
                                </div>
                                <div class="navbar-item">
                                    <a class="button modal-button" data-target="#runtime-overview-modal">
                                        Runtime Overview
                                    </a>
                                </div>
                            </div>

                            <div class="navbar-end">
                                <div class="navbar-item">
                                    <a class="button" id="reload-brick-detail" aria-label="reload Brick-Detail from Server">
                                        <span class="icon is-small cache-reload-icon">
                                            <i class="fas fa-sync-alt fa-sm"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="navbar-item">
                                    <a class="button modal-button" data-target="#set-brick-desc-modal" aria-label="change description of current brick">
                                        Change description
                                    </a>
                                </div>
                                <div class="navbar-item">
                                    <a class="button modal-button is-danger is-outlined" data-target="#delete-brick-modal" aria-label="delete current brick">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <script>
                    autoreloadIntervalID = 1
                    function reload_brick_detail() {
                        clearInterval(autoreloadIntervalID);
                        $.ajax( {
                            url:'reload_brick_detail/?brick_id=' + "${brick['_id']}",
                            success:function(data) {
                                $('#brick-detail').html(data);
                            }
                        });
                    };
                    </script>
				</div>
			</div>
		</div>
	  </div>
      <div class="tile is-ancestor" id="brick-detail">
<%include file="brick-detail.html" />
	  </div>
    </div>
  </section>
<%include file="select-brick-modal.html" />
<%include file="runtime-overview-modal.html" />
  <div class="modal" id="set-brick-desc-modal">
	<div class="modal-background"></div>
	<div class="modal-content">
        <article class="message">
            <div class="message-header">
                <p>Change Brick's Description</p>
            </div>
            <div class="message-body">
                <form method="post" action="/set_desc?brick_id=${brick['_id']}">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input class="input" type="text" placeholder="Brick Description" value="${brick['desc'] if brick['desc'] is not None else ''}" name="desc">
                        </p>
                        <p class="control">
                            <button class="button is-success">Save</button>
                        </p>
                    </div>
                </form>
            </div>
        </article>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <div class="modal" id="delete-brick-modal">
	<div class="modal-background"></div>
	<div class="modal-content">
        <article class="message">
            <div class="message-header">
                <p>Delete Brick</p>
            </div>
            <div class="message-body">
                <div class="content">
					<p>Do you really want to delete Brick ${brick['_id']} (${brick['desc']})?</p>
                    <p>This will also delete all sensors and time-series-data related to the Brick!</p>
				</div>
                <form method="post" action="/delete_brick">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="hidden" value="${brick['_id']}" name="brick_id">
                        </p>
                        <p class="control">
                            <button class="button is-danger">Yes</button>
                        </p>
                    </div>
                </form>
            </div>
        </article>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <div class="modal" id="sensor-detail-modal">
	<div class="modal-background"></div>
	<div class="modal-content">
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <div class="modal" id="firmware-browser-modal">
	<div class="modal-background"></div>
	<div class="modal-content">
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <script>
        $(".modal-button").click(function() {
            var target = $(this).data("target");
            $("html").addClass("is-clipped");
            $(target).addClass("is-active");
        });

        $(".modal-close").click(function() {
            $("html").removeClass("is-clipped");
            $(this).parent().removeClass("is-active");
        });

		$(".modal-background").click(function() {
            $("html").removeClass("is-clipped");
            $(this).parent().removeClass("is-active");
        });

        $(".navbar-burger").click(function() {
            if($("#main-menu").hasClass("is-active")) {
                $("#main-menu").removeClass("is-active");
            } else {
                $("#main-menu").addClass("is-active");
            }
        });

        $(".navbar-item").click(function() {
            $("#main-menu").removeClass("is-active");
        });

        $(".server-info").click(function() {
            $("html").addClass("is-clipped");
            $("#sensor-detail-modal").addClass("is-active");
            $.ajax( {
                url:'get_server_info',
                success:function(data) {
                    $("#sensor-detail-modal > .modal-content").html(data);
                }
            });
        });

        $("#reload-brick-detail").click(function() {
            reload_brick_detail();
        });
  </script>
  </body>
</html>
