<%!
    from helpers.template import convert_html, list_of_sensor_ids_to_sensors
%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NAHS-BrickWeb</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-divider@0.2.0/dist/css/bulma-divider.min.css">
	<link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        #select-brick-search-clear { pointer-events: all; cursor:pointer }
        #select-brick-search-clear:hover {color: #f14668 }
    </style>
  </head>
  <body>
  <section class="section">
    <div class="container">
	  <div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child">
				<div class="container box">
					<p class="title is-1 has-text-centered">${brick['_id']} (${brick['desc']})</p>
					<div class="is-divider m-1"></div>
					<nav class="navbar" role="navigation" aria-label="main navigation">
						<div class="navbar-menu m-0">
							<div class="navbar-start">
								<div class="navbar-item">
									<a class="button modal-button" data-target="#select-brick-modal">
										Select Brick
									</a>
								</div>
								<div class="navbar-item">
									<a class="button modal-button" data-target="#set-brick-desc-modal" aria-label="change description of current brick">
										Change description
									</a>
								</div>
                                <div class="navbar-item">
									<a class="button" href="/clear_cache" aria-label="clears the cache for requests to backend">
										Clear Cache
									</a>
								</div>
							</div>

							<div class="navbar-end">
								<div class="navbar-item">
									<a class="button modal-button is-danger is-outlined" data-target="#delete-brick-modal" aria-label="delete current brick">
										Delete
									</a>
								</div>
							</div>
						</div>
					</nav>

				</div>
			</div>
		</div>
	  </div>
      <div class="tile is-ancestor">
		<div class="tile is-10 is-vertical is-parent">
			<div class="tile is-child">
				<div class="content box">
					<p class="is-family-monospace">
                        ${convert_html(brick)}
                    </p>
				</div>
			</div>
		</div>
		<div class="tile is-parent">
			<div class="tile is-child">
                % if 'temp' in brick['features']:
                % for sensor in list_of_sensor_ids_to_sensors(brick['temp_sensors']):
				<div class="container box">
					<p class="title is-5">
                        % if sensor['last_reading'] > sensor['prev_reading']:
                        <span class="icon is-small has-text-danger">
                            <i class="fas fa-arrow-up fa-sm"></i>
                        </span>
                        % elif sensor['last_reading'] < sensor['prev_reading']:
                        <span class="icon is-small has-text-info">
                            <i class="fas fa-arrow-down fa-sm"></i>
                        </span>
                        % else:
                        <span class="icon is-small has-text-success">
                            <i class="fas fa-arrow-left fa-sm"></i>
                        </span>
                        % endif
                        ${sensor['_id']}
                    </p>
					<p class="subtitle is-2">${sensor['last_reading']}°C</p>
				</div>
                % endfor
                % endif
			</div>
		</div>
	  </div>
    </div>
  </section>
  <%include file="select-brick-modal.html" />
  <div class="modal" id="set-brick-desc-modal">
	<div class="modal-background"></div>
	<div class="modal-content">
        <article class="message">
            <div class="message-header">
                <p>Change Brick's Description</p>
            </div>
            <div class="message-body">
                <form method="post" action="/set_desc?brick_id=${brick['_id']}">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input class="input" type="text" placeholder="Brick Description" value="${brick['desc']}" name="desc">
                        </p>
                        <p class="control">
                            <button class="button is-success">Save</button>
                        </p>
                    </div>
                </form>
            </div>
        </article>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <div class="modal" id="delete-brick-modal">
	<div class="modal-background"></div>
	<div class="modal-content">
        <article class="message">
            <div class="message-header">
                <p>Delete Brick</p>
            </div>
            <div class="message-body">
                <div class="content">
					<p>Do you really want to delete Brick ${brick['_id']} (${brick['desc']})?</p>
                    <p>This will also delete all sensors and time-series-data related to the Brick!</p>
				</div>
                <form method="post" action="/delete_brick">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="hidden" value="${brick['_id']}" name="brick_id">
                        </p>
                        <p class="control">
                            <button class="button is-danger">Yes</button>
                        </p>
                    </div>
                </form>
            </div>
        </article>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <script>
        $(".modal-button").click(function() {
            var target = $(this).data("target");
            $("html").addClass("is-clipped");
            $(target).addClass("is-active");
        });
         
        $(".modal-close").click(function() {
            $("html").removeClass("is-clipped");
            $(this).parent().removeClass("is-active");
        });
         
		$(".modal-background").click(function() {
            $("html").removeClass("is-clipped");
            $(this).parent().removeClass("is-active");
        });
  </script>
  </body>
</html>
