<%!
    from helpers.brickserver import bricks_get_filtered, features_get_available
%>
                <p class="panel-tabs">
                    % if session['bricks_filter_feature'] is None or session['bricks_filter_feature'] == 'all':
                    <a class="is-active">all</a>
                    % else:
                    <a class="select-brick-feature-selector" data-target="all">all</a>
                    % endif
                    % for feature in features_get_available():
                    % if session['bricks_filter_feature'] == feature:
                    <a class="is-active">${feature}</a>
                    % else:
                    <a class="select-brick-feature-selector" data-target="${feature}">${feature}</a>
                    % endif
                    % endfor
                </p>
                % for brick_id, desc in bricks_get_filtered(session['bricks_filter_feature'], session['bricks_filter_string']):
                <a class="panel-block" href="?brick_id=${brick_id}">
                    <span class="panel-icon">
                        <i class="fas fa-cube" aria-hidden="true"></i>
                    </span>
                    ${brick_id} (${desc if desc is not None else ''})
                </a>
                % endfor
                <script>
                    $(".select-brick-feature-selector").click(function() {
                        var feature = $(this).data("target");
                        $.ajax( {
                            url:'set_bricks_filter_feature/?feature=' + feature,
                            success:function(data) {
                                $('#select-brick-changing-content').html(data);
                            }
                        });
                    });
                </script>
