<%!
    from helpers.brickserver import serverversion_get, count_get
    from helpers.config import config
    from helpers.template import server_is
%>
        <article class="message">
            <div class="message-header">
                <p>
                    Server Info
                </p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label class="label">Server Address:</label>
                    <div class="box">
                        ${config['brickserver']['host']}:${config['brickserver']['port']}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Version:</label>
                    <div class="box">
                        % if serverversion_get() == '0.0.0':
                        &lt; 0.5.0
                        % else:
                        ${serverversion_get()}
                        % endif
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        % if server_is('0.5.0'):
                        <div class="field">
                            <label class="label">Bricks count:</label>
                            <div class="box">
                                ${str(count_get('bricks'))}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Temp Sensors count:</label>
                            <div class="box">
                                ${str(count_get('temp_sensors'))}
                            </div>
                        </div>
                        % endif
                        % if server_is('0.7.0'):
                        <div class="field">
                            <label class="label">Humid Sensors count:</label>
                            <div class="box">
                                ${str(count_get('humid_sensors'))}
                            </div>
                        </div>
                        % endif
                    </div>
                    <div class="column">
                        % if server_is('0.5.0'):
                        <div class="field">
                            <label class="label">Latches count:</label>
                            <div class="box">
                                ${str(count_get('latches'))}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Signals count:</label>
                            <div class="box">
                                ${str(count_get('signals'))}
                            </div>
                        </div>
                        % endif
                        % if server_is('0.8.0'):
                        <div class="field">
                            <label class="label">Firmwares count:</label>
                            <div class="box">
                                ${str(count_get('firmwares'))}
                                <span class="icon is-small info-icon" id="firmware-browser-open-icon" title="Open Firmware Browser">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                            </div>
                        </div>
                        % endif
                    </div>
                </div>
            </div>
        </article>
        <script>
            % if server_is('0.8.0'):
            $("#firmware-browser-open-icon").click(function() {
                $("html").addClass("is-clipped");
                $("#sensor-detail-modal").removeClass("is-active");
                $("#firmware-browser-modal").addClass("is-active");
                $.ajax( {
                    url:'firmware_browser',
                    success:function(data) {
                        $("#firmware-browser-modal > .modal-content").html(data);
                    }
                });
            });
            % endif
        </script>
