<%!
    from helpers.template import convert_html, grafana_url_temp_sensor
    from helpers.config import config
    from helpers.shared import possible_disables
%>
        <article class="message">
            <div class="message-header">
                <p>
                    Temp Sensor Detail
                    % if config['grafana']['enabled'] and 'metric' not in sensor['disables']:
                    <span class="icon is-small grafana-link-icon" id="temp-sensor-detail-grafana" title="Open corresponding Chart in Grafana">
                        <i class="fas fa-chart-line fa-sm"></i>
                    </span>
                    % endif
                </p>
            </div>
            <div class="message-body">
                <div class="field">
                    <label class="label">ID</label>
                    <div class="box">
                        ${sensor['_id']}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Description</label>
                    <div class="box" id="temp-sensor-desc-display">
                        ${sensor['desc'] if sensor['desc'] is not None else ''}
                        <span class="icon edit-pencil-icon" id="temp-sensor-desc-edit-button">
                            <i class="fas fa-edit fa-sm"></i>
                        </span>
                    </div>
                    <form method="post" action="/set_desc?sensor_id=${sensor['_id']}" id="temp-sensor-desc-edit" style="display: none;">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="Sensor Description" value="${sensor['desc'] if sensor['desc'] is not None else ''}" name="desc">
                            </p>
                            <p class="control">
                                <button class="button is-success">Save</button>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="field">
                    <label class="label">Temperature Correction Value</label>
                    <div class="box">
                        ${sensor['corr']}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Current Temperature</label>
                    <div class="box">
                        ${sensor['last_reading']}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Previous Temperature</label>
                    <div class="box">
                        ${sensor['prev_reading']}
                    </div>
                </div>
                <div class="field">
                    <label class="label">
                        Disables
                        <span class="icon edit-pencil-icon" id="temp-sensor-disables-edit-button">
                            <i class="fas fa-edit fa-sm"></i>
                        </span>
                    </label>
                    <div class="box" id="temp-sensor-disables-display">
                        ${"<br />".join(sensor['disables'])}
                    </div>
                    <div class="box" id="temp-sensor-disables-edit" style="display: none;">
                        <form method="post" action="/set_disables?sensor_id=${sensor['_id']}">
                            <div class="field">
                                <fieldset>
                                    % for d in possible_disables:
                                    <p class="control is-expanded">
                                        <input type="checkbox" name="disables" value="${d}" ${('checked' if d in sensor['disables'] else '')}>
                                        ${d}
                                    </p>
                                    % endfor
                                </fieldset>
                                <p class="control">
                                    <button class="button is-success">Save</button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="field">
                    <label class="label">RAW Data</label>
                    <button class="button is-dark" id="temp-sensor-raw-show">show</button>
                    <button class="button is-dark" id="temp-sensor-raw-hide" style="display: none;">hide</button>
                    <div class="box" id="temp-sensor-raw-data" style="display: none;">
                        <p class="is-family-monospace">
                            ${convert_html(sensor)}
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <script>
            $("#temp-sensor-raw-show").click(function() {
                $("#temp-sensor-raw-show").hide();
                $("#temp-sensor-raw-hide").show();
                $("#temp-sensor-raw-data").show();
            });

            $("#temp-sensor-raw-hide").click(function() {
                $("#temp-sensor-raw-show").show();
                $("#temp-sensor-raw-hide").hide();
                $("#temp-sensor-raw-data").hide();
            });

            $("#temp-sensor-desc-edit-button").click(function() {
                $("#temp-sensor-desc-display").hide();
                $("#temp-sensor-desc-edit").show();
            });

            $("#temp-sensor-disables-edit-button").click(function() {
                $("#temp-sensor-disables-display").hide();
                $("#temp-sensor-disables-edit").show();
                $("#temp-sensor-disables-edit-button").hide();
            });

            $("#temp-sensor-detail-grafana").click(function() {
                window.open("${grafana_url_temp_sensor(brick, sensor)}", 'grafana');
            });
        </script>
